<h1 style="color: #5e9ca0;"><span style="color: #99cc00;">{{username}},&nbsp;did you forget the password?</span></h1>
<h2 style="color: #2e6c80;"><span style="color: #339966;">Click the attached link to go to the password reset page.</span></h2>
<p>Go to <a href="{{resetUrl}}">reset page</a>.</p>
<p>&nbsp;</p>
<p><span style="color: #808080;"><em>If you have any comments about Greenfield, please feel free to send us an<a href="mailto:janghyooao@gmail.com"> email</a>.&nbsp;</em></span></p>