<h1 style="color: #5e9ca0;"><span style="color: #99cc00;">Congratulations, {{username}}!</span></h1>
<h2 style="color: #2e6c80;"><span style="color: #339966;">Sign up is complete.</span></h2>
<p>If you write a note, a green lawn will be planted in your field.<br />Take care of your own wide green fields!</p>
<p>&nbsp;</p>
<p><span style="color: #808080;"><em>If you have any comments about Greenfield, please feel free to send us an<a href="mailto:janghyooao@gmail.com"> email</a>.&nbsp;</em></span></p>